@import "tailwindcss";

body {
  font-family: outfit;
}

.font-ovo {
  font-family: ovo, serif;
}
.black-shadow {
  box-shadow: 4px 4px 0 black;
}

.white-shadow {
  box-shadow: 4px 4px 0 white;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar for WebKit browsers */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
/* .custom-rounded {
  border-radius: 30% 70% 47% 53% / 54% 30% 70% 46%;
} */
/* .hover-right{

}
.light-hover:hover {
  background-color: #fcf4ff;
}

.dark-hover:hover {
  background-color: #2a004a;
}

.dark-theme {
  color: #11001f;
} */
